{{#if loggedIn}}
{{#each Locations as |card|}}
<div class="pure-u-1-3 beach-card">
        <div class="location">
            <h3 id="search">COORDINATES:<br>{{card.long}}<br>{{card.lat}}</h3>
            <div class="featured-img beach-2"></div>
            <ul data-aos="fade-up"
            data-aos-duration="2000">
                <li>WAVE HEIGHT: <span id="wave">{{card.waveHeight}}</span></li>
                <li>SWELL DIRECTION: <span id="swell">{{card.waveDirection}}</span></li>
                <li>SWELL PERIOD: <span id="period">{{card.wavePeriod}}</span></li>
                <li>SURF JOURNAL: <span id="journal">{{card.description}}</span></li>
            </ul>  
            {{!-- <hr>created div to display the comments    --}}
            <div id="display-comment"></div>
            <hr>
            {{!-- wrapped div and created button to add/update description --}}
            <div id="commentForm" data-card-id="{{card.id}}">
                <label for="share">Share Your Experience</label>
                <textarea type="text" id="input-comment" name="share"></textarea>
                <button class="btn btn-primary" id="share-btn" type="submit">Update Journal</button>
            </div>
            <hr>   
            <div class="form-group"> 
                <p id="trash"><i class="fa-regular fa-trash"></i> REMOVE LOCATION CARD</p>     
                <button class="btn btn-primary" id="trash" type="submit">Delete</button>
            </div>
        </div>
</div>
{{/each}}
{{/if}}

{{!-- make a button on the card to delete it,
make a button on the card to update description --}}


