
{{#if loggedIn}}
        <div class="newBeach">
          <div class="location">
              <h3 id="search">Find a Beach</h3> 
               <form class="form login-form pure-u-1-3">
                  <div class="form-group">
                      <label for="username-signup">Longitude</label>
                      <input class="form-input" type="text" id="longitude" />
                      </div>
                      <div class="form-group">
                      <label for="password-signup">Latitude</label>
                      <input class="form-input" type="password" id="latitude" />
                      </div>
                      <div class="form-group">
                      <button class="btn btn-primary" type="submit">Find Beach</button>
                  </div>
              </form>    
          </div>
      </div>
{{#each Locations as |card|}}
<div class="pure-u-1-3 beach-card">
        <div class="location">
            <h3 id="search">Tofino</h3>
            <div class="featured-img beach-2"></div>
            <ul data-aos="fade-up"
            data-aos-duration="2000">
                <li>WAVE HEIGHT: <span id="wave">{{card.waveHeight}}</span></li>
                <li>SWELL DIRECTION: <span id="swell">{{card.waveDirection}}</span></li>
                <li>SWELL PERIOD: <span id="period">{{card.wavePeriod}}</span></li>
                <li>SURF JOURNAL: <span id="journal">{{card.description}}</span></li>
            </ul>  
            {{!-- <hr>created div to display the comments    --}}
            <div id="display-comment"></div>
            <hr>
            {{!-- wrapped div and created button to add/update description --}}
            <div id="commentForm" data-card-id="{{card.id}}">
                <label data-aos="fade-up"
                data-aos-duration="2000" for="share">Share Your Experience</label>
                <textarea data-aos="fade-up"
                data-aos-duration="2000" type="text" id="input-comment" name="share"></textarea>
                <button class="btn btn-primary" id="share-btn" type="submit">Add Description</button>
            </div>
            <hr>   
            <div class="form-group"> 
                <p data-aos="fade-up" quidata-aos-duration="2000" id="trash"><i class="fa-regular fa-trash"></i> REMOVE LOCATION CARD</p>     
                <button class="btn btn-primary" id="trash" type="submit">Delete</button>
            </div>

            <label data-aos="fade-up"
            data-aos-duration="2000" for="share">Share Your Experience</label>
            <textarea data-aos="fade-up"
            data-aos-duration="2000" type="text" id="share" name="share"></textarea>
            <button id="updateJounal">Update Journal</button>    
        </div>
</div>
{{/each}}
{{/if}}

{{!-- make a button on the card to delete it,
make a button on the card to update description --}}


